<h3>LifeCycleChildComponent</h3>

<hr />
@foreach (var item in EventType)
{
     @item
     <hr />
}

@code {
    List<string> EventType = new List<string>();

    [Parameter]
    public int CountValue { get; set; }

    protected override void OnInitialized()
    {
        EventType.Add("OnInıtialized - CHILD is called");
    }
    protected override void OnParametersSet()
    {
        EventType.Add("OnParametersSet-Child is called");
    }
    
}
